<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        .container {
            margin: auto;
            width: 50%;
            padding: 30px;
            background: #e2e2e2;
        }
    </style>
</head>
<body>
<div>
    <h1 data-th-text="${name}">Welcome to home page</h1>
    <a th:href="${github}">Clic here to open</a>

    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ut atque deleniti quas eum tempora perferendis
        assumenda qui molestiae animi laboriosam, accusantium molestias voluptate veritatis excepturi illo. Voluptas cum
        mollitia repudiandae dolores delectus ratione amet nam eum praesentium laudantium, quisquam illum quasi non
        sequi reprehenderit expedita eius eligendi. Tenetur, eligendi vitae.</p>

</div>

</body>
</html>